:root {
  font-family: "Karla", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  color: white;
}

body {
 min-height: 100vh;
 margin: 0;
 width: 100%;
 max-width: 100vw;

}

body .header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 !important;
}

.header h1 {
font-size: 1.5rem;
font-weight: bold;
letter-spacing: -0.1em;
color: white;
}

.header h3 {
  font-weight: 500;
font-size: 0.875rem;
font-family: 'Noto Sans Display', sans-serif;
}

.header-logo, .header-description {
  padding: 0 2rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding: 3rem;
  border: 3px solid #672280;
  border-top: none;
}

 .btn-primary {
  margin: 2rem 0;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 10px;
}

.form-control.input  {
  border: 2px solid #ced4da;
  font-family: 'Noto Sans Display', sans-serif;
}

.form-control.input:hover {
  border: 2px solid aqua;
}

.image-container {
  width: 100%;
  margin: auto;
  position: relative
}

.image-container img {
  width: 100%;
}

.image-container h1 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.topText {
  top: 0;
}
.bottomText {
  bottom: 0;
}


@media only screen and (min-width: 768px){
  body {
    max-width: 760px;
    margin: auto;
  }
  .formControl.input h1 {
    font-size: 3.5rem;;
  }
}
@media only screen and (min-width: 1200px){
  body {
    max-width: 900px;
    margin: auto;
  }
  .formControl.input h1 {
    font-size: 4rem;;
  }
}